/* Estilizar os fieldsets (áreas de busca) */
fieldset.clearfix {
    border: none;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6); /* Fundo semi-transparente */
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Esconde a legenda padrão do fieldset, já que temos um título separado */
legend.sr-only {
    display: none;
}

/* Estilizar os títulos dentro dos fieldsets */
.d-flex h3 {
    color: var(--mooze-primary);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Ajustar os labels para ficarem alinhados */
form label {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

/* Ajustar os campos de input */
.form-control {
    width: 100%;
    padding: 0.85rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

/* Botões de busca */
input[type="submit"].btn-primary {
    background-color: var(--mooze-primary);
    color: white;
    width: 100% !important;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="submit"].btn-primary:hover {
    background-color: var(--mooze-secondary);
}
/* Ajustar estrutura do formulário */
#id_searchbyusernamecontainer,
#id_searchbyemailcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Garantir que os inputs fiquem alinhados */
.fcontainer .form-group {
    width: 100%;
}

/* Ajustar os botões */
.fcontainer .btn-primary {
    width: 100%;
    margin-top: 10px;
}

/* Remove a coluna se estiver vazia */
.fitem.femptylabel .col-md-3:empty {
    display: none;
}

/* Faz a outra célula ocupar todo o espaço */
.fitem.femptylabel .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
}

.fitem.femptylabel .felement input {
    margin-bottom: 5px !important; /* Reduz o espaço abaixo do input */
}

.form-group {
    margin-bottom: 5px !important; /* Diminui o espaço entre os campos */
}

.fitem.femptylabel .felement input[type="submit"] {
    margin-top: 5px !important; /* Ajusta a posição do botão */
}


