// Reset básico
html, body {
    margin: 0;
    padding: 0;
}

// Estilo base da página
.mooze-frontpage {
    background: var(--mooze-gray-100);
    padding: 0;
    margin: 0;
}

// Regra comum para todas as seções
.hero-section, .numbers-section, .available-courses-section, .certification-section, .partners-section, .mooze-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 100px 50px 100px;
}

// Ajuste específico para hero-section
.hero-section {
    padding-top: 70px;
}