<!DOCTYPE html>
<html {{{output.htmlattributes}}}>
<head>
    <title>{{{output.page_title}}}</title>
    <link rel="shortcut icon" href="{{{output.favicon}}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{{ output.standard_head_html }}}
</head>

<body {{{bodyattributes}}}>
    <script>
        document.documentElement.classList.add('no-transition');
        if (localStorage.getItem('sidebarCollapsed') === 'true') {
            document.documentElement.classList.add('sidebar-collapsed');
        }
        window.addEventListener('load', function() {
            requestAnimationFrame(function() {
                document.documentElement.classList.remove('no-transition');
            });
        });
    </script>
{{{ output.standard_top_of_body_html }}}
    {{> theme_mooze/navbar}}
    <div id="page" class="container">
        <div id="page-content" class="row">
            {{#loggedin}}
            <div class="col-md-3">
                {{> theme_mooze/sidebar}}
            </div>
            {{/loggedin}}
            <div class="{{#loggedin}}col-md-9{{/loggedin}}{{^loggedin}}col-12{{/loggedin}}">
                <div id="region-main-box" class="region-main">
                    <section id="region-main" class="region-main-content" aria-label="{{#str}}content{{/str}}">
                        {{{output.main_content}}}
                    </section>
                </div>
            </div>
        </div>
        {{> theme_mooze/footer }}
    </div>

{{#js}}
    require(['theme_mooze/dropdown', 'theme_mooze/teste', 'theme_mooze/sidebar'], function(Dropdown, Teste, Sidebar) {
        Dropdown.init();
        Teste.init();
        Teste.toggle();
        Sidebar.init();
    });
{{/js}}

    {{{ output.standard_end_of_body_html }}}
</body>
</html> 