<!DOCTYPE html>
<html lang="{{config.lang}}">
<head>
    <title>{{sitename}}</title>
    {{> theme_boost/head }}
</head>
<body class="{{frontpageattributes}} mooze-frontpage">
    {{> theme_mooze/navbar }} <!-- Navbar customizado -->

    {{> theme_mooze/hero-section }} {{!-- Seção hero --}}

    {{> theme_mooze/numbers-section }}  {{!-- Seção de números --}}

    {{> theme_mooze/available-courses }} {{!-- Seção de cursos --}}

    {{> theme_mooze/certification-section }} {{!-- Seção de certificados --}}

    {{> theme_mooze/partners-section }} {{!-- Colaboradores ou Parceiros --}}

    {{> theme_mooze/footer }} {{!-- footer --}}

</body>
</html>
