<!DOCTYPE html>
<html dir="ltr" lang="pt-br" xml:lang="pt-br">
<head>
    <title>{{sitename}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{{ output.standard_head_html }}}
</head>

<body {{{ bodyattributes }}}>
{{{ output.standard_top_of_body_html }}}

    {{> theme_mooze/navbar }} <!-- Navbar customizado -->

    {{> theme_mooze/hero-section }} {{!-- Seção hero --}}

    {{> theme_mooze/numbers-section }}  {{!-- Seção de números --}}

    {{> theme_mooze/available-courses }} {{!-- Seção de cursos --}}

    {{> theme_mooze/certification-section }} {{!-- Seção de certificados --}}

    {{> theme_mooze/partners-section }} {{!-- Colaboradores ou Parceiros --}}

    {{> theme_mooze/footer }} {{!-- footer --}}

{{#js}}
    require(['theme_mooze/dropdown', 'theme_mooze/teste'], function(Dropdown, Teste) {
        Dropdown.init();
        Teste.init();
        Teste.toggle();
    });
{{/js}}

    {{{ output.standard_end_of_body_html }}}

</body>
</html>
