<nav class="mooze-navbar">
    <div class="logo">
        <a href="{{config.wwwroot}}"><img src="{{config.wwwroot}}/theme/mooze/pix/logo.png" alt="Logo Mooze"></a>
    </div>
    <ul class="nav-links">
        <li><a href="{{config.wwwroot}}">Início</a></li>
        <li><a href="{{config.wwwroot}}/course/index.php">Cursos</a></li>
        {{#loggedin}}
            <li><a href="{{config.wwwroot}}/user/profile.php">{{ output.usermenu }}</a></li>
            <li><a href="{{config.wwwroot}}/login/logout.php">Sair</a></li>
        {{/loggedin}}
        {{^loggedin}}
            <li><a href="{{config.wwwroot}}/login/index.php">Entrar</a></li>
        {{/loggedin}}
    </ul>
</nav>
